@model Libify.Areas.Admin.Models.ViewModel
@inject Libify.Repository.IAccountRepository _accRepo

@{
    ViewData["Title"] = "Assign role";
}

@section styles{
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Breeze Admin</title>
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/assets/vendors/select2/select2.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    @*<link rel="shortcut icon" href="~/assets/images/favicon.png" />*@
}

<div class="container-scroller">
    <partial name="_SideBar" />
    <div class="container-fluid page-body-wrapper">
        <partial name="_NavBar" />
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">Role elements</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="AssignRole">Assign Role</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Role elements </li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            @if (ViewBag.isAssignSuccess == true)
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Role assigned succesfully!</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            <div class="card-body">
                                <h4 class="card-title">Assign a role</h4>
                                <p class="card-description">Choose a user name and assign a role to it.</p>
                                <form class="forms-sample" asp-action="AssignRole">
                                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                                    <div class="form-group">
                                        <label asp-for="User.Email"></label>
                                        <select class="form-control form-control-lg" asp-for="User.Email" asp-items="@(await _accRepo.GetAllUsers()).Select(x => new SelectListItem() { Text = x.Email, Value = x.Email })">
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Role.Name"></label>
                                        <select class="form-control form-control-lg" asp-for="Role.Name" asp-items="@(await _accRepo.GetAllRoles()).Select(x => new SelectListItem() { Text = x.Name, Value = x.Name });">
                                        </select>
                                    </div>
                                    <input type="submit" class="btn btn-primary mr-2" value="Assign Role" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_Footer" />
            @*<footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard template</a> from Bootstrapdash.com</span>
            </div>
        </footer>*@
        </div>
    </div>
</div>

@section scripts{
    <!-- container-scroller -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/file-upload.js"></script>
    <script src="~/assets/js/typeahead.js"></script>
    <script src="~/assets/js/select2.js"></script>
}