@*<footer>
    <div class="container">
        Copyright &copy; E-Library @DateTime.Now.Year
        <custom-email my-email="mouad.baj@gmail.com"></custom-email>
    </div>
</footer>*@

<footer class="footer border-top text-muted text-center">
    <div class="container">
        Copyright &copy; E-Library @DateTime.Now.Year
    </div>
</footer>