@inject Libify.Repository.IBookRepository _bookRepo

@{
    ViewData["Title"] = "Welcome to " + _bookRepo.GetAppName();
}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container-fluid">

        <section>
            <h1 class="display-4">Welcome to the library</h1>
            <p class="lead">In this plateform, you can search for any book, read its preview, and buy it!</p>
            <p class="lead">The process is very simple, just create your account and you're ready to go!</p>
        </section>

        <hr />

        <section>

            <h1 class="mt-5 mb-5 text-center display-4">Top books</h1>

            @await Component.InvokeAsync("TopBooks", new { count = 3 })

        </section>



    </div>
</div>